@model WebShop.MVC.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Brisanje</h1>

<h3>Da li ste sigurni da želite da obrišete ovaj proizvod?</h3>
<div>
    <h4>Proizvod</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">Cena</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Brend</dt>
        <dd class="col-sm-10">@Model.Brand</dd>

        <dt class="col-sm-2">Sport</dt>
        <dd class="col-sm-10">@Model.Sport</dd>

        <dt class="col-sm-2">Veličina</dt>
        <dd class="col-sm-10">@Model.Size</dd>

        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
            <div class="mb-2">
                <img src="@Model.ImagePath" width="150" />
            </div>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
            <div class="mb-2">
                <span>Product has no image</span>
            </div>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazad na proizvode</a>
    </form>
</div>
